[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]in/
[Aa]ssets/AssetStoreTools*
*.csproj
*.unitypackage
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svntmp
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
DerivedData/
.vs/
.vscode/
.idea/
.gradle/
.nb-gradle/
.settings/
.project/
.classpath/
.factorypath/
.apt_generated/
.apt_generated_tests/
.externalToolBuilders/
.metadata/
.checkstyle/
.fbwarnings/
.pmd/
.ruleset/
.springBeans/
.springExplorer/
.springProperties/
.tern-project/
.tern-port/
.tern-config/
.tern-definitions/
.tern-plugins/
.tern-vfs/
.tern-vfs-win/
.tern-vfs-win-64/
.tern-vfs-mac/
.tern-vfs-linux/
.tern-vfs-linux-64/
.tern-vfs-freebsd/
.tern-vfs-freebsd-64/
.tern-vfs-openbsd/
.tern-vfs-openbsd-64/
.tern-vfs-netbsd/
.tern-vfs-netbsd-64/
.tern-vfs-solaris/
.tern-vfs-solaris-64/
.tern-vfs-aix/
.tern-vfs-aix-64/
.tern-vfs-hpux/
.tern-vfs-hpux-64/
.tern-vfs-osf1/
.tern-vfs-osf1-64/
.tern-vfs-irix/
.tern-vfs-irix-64/
.tern-vfs-unix/
.tern-vfs-unix-64/
.tern-vfs-bsd/
.tern-vfs-bsd-64/
.tern-vfs-posix/
.tern-vfs-posix-64/
.tern-vfs-win32/
.tern-vfs-win32-64/
.tern-vfs-win64/
.tern-vfs-win64-64/
.tern-vfs-win32-x86/
.tern-vfs-win32-x86-64/
.tern-vfs-win64-x86/
.tern-vfs-win64-x86-64/
.tern-vfs-win32-x64/
.tern-vfs-win32-x64-64/
.tern-vfs-win64-x64/
.tern-vfs-win64-x64-64/
.tern-vfs-win32-arm/
.tern-vfs-win32-arm-64/
.tern-vfs-win64-arm/
.tern-vfs-win64-arm-64/
.tern-vfs-win32-arm64/
.tern-vfs-win32-arm64-64/
.tern-vfs-win64-arm64/
.tern-vfs-win64-arm64-64/
.tern-vfs-win32-ia64/
.tern-vfs-win32-ia64-64/
.tern-vfs-win64-ia64/
.tern-vfs-win64-ia64-64/
.tern-vfs-win32-mips/
.tern-vfs-win32-mips-64/
.tern-vfs-win64-mips/
.tern-vfs-win64-mips-64/
.tern-vfs-win32-mips64/
.tern-vfs-win32-mips64-64/
.tern-vfs-win64-mips64/
.tern-vfs-win64-mips64-64/
.tern-vfs-win32-mips64el/
.tern-vfs-win32-mips64el-64/
.tern-vfs-win64-mips64el/
.tern-vfs-win64-mips64el-64/
.tern-vfs-win32-mipsel/
.tern-vfs-win32-mipsel-64/
.tern-vfs-win64-mipsel/
.tern-vfs-win64-mipsel-64/
.tern-vfs-win32-ppc/
.tern-vfs-win32-ppc-64/
.tern-vfs-win64-ppc/
.tern-vfs-win64-ppc-64/
.tern-vfs-win32-ppc64/
.tern-vfs-win32-ppc64-64/
.tern-vfs-win64-ppc64/
.tern-vfs-win64-ppc64-64/
.tern-vfs-win32-ppc64le/
.tern-vfs-win32-ppc64le-64/
.tern-vfs-win64-ppc64le/
.tern-vfs-win64-ppc64le-64/
.tern-vfs-win32-s390/
.tern-vfs-win32-s390-64/
.tern-vfs-win64-s390/
.tern-vfs-win64-s390-64/
.tern-vfs-win32-s390x/
.tern-vfs-win32-s390x-64/
.tern-vfs-win64-s390x/
.tern-vfs-win64-s390x-64/
.tern-vfs-win32-sh/
.tern-vfs-win32-sh-64/
.tern-vfs-win64-sh/
.tern-vfs-win64-sh-64/
.tern-vfs-win32-sh4/
.tern-vfs-win32-sh4-64/
.tern-vfs-win64-sh4/
.tern-vfs-win64-sh4-64/
.tern-vfs-win32-sh4eb/
.tern-vfs-win32-sh4eb-64/
.tern-vfs-win64-sh4eb/
.tern-vfs-win64-sh4eb-64/
.tern-vfs-win32-sparc/
.tern-vfs-win32-sparc-64/
.tern-vfs-win64-sparc/
.tern-vfs-win64-sparc-64/
.tern-vfs-win32-sparc64/
.tern-vfs-win32-sparc64-64/
.tern-vfs-win64-sparc64/
.tern-vfs-win64-sparc64-64/
.tern-vfs-win32-x86_64/
.tern-vfs-win32-x86_64-64/
.tern-vfs-win64-x86_64/
.tern-vfs-win64-x86_64-64/
